@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1562921785600'); /* IE9 */
  src: url('iconfont.eot?t=1562921785600#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABmgAAAJ2AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp0gRUBNgIkAwgLBgAEIAWEbQcwG7sFyB6SJBVibnAU8rkMAhjEw9d+v3P37fvfEUuqkSqWRRORIdEYSiBB9JKJlGaheAn8tV/bE62YbUTPGi7ptOrbs7XZv//PXEM8QySSiV5Fm0loRDI6uflPcpNAI71JaF9kcQfX1K95geQBzSUiKCo5EnBg0wFFNY1sE5rxhrELXuBxAg3Detm2ZpbiyCuzxwXivFTIIG/BLcssVhMqDUuzuFGqpav0ALmOvh9/IuElKQt2we7ZdB6NfXY5CY7lfzsJEB4CWl2iwCIkE4eN4W0OwWgOjbDTOHSs3OBT/x+YxFH1gv11dnYLDELBMwk90aNmJ5CT9nHI8qSbSAMUiX3v7dYnL+Lf1+Tra+r5ObGcdMzLk5+e4oXXb4eT7PnugbDrJe0c2knHz/bdtENkO5CXddtZ6aIt1LIfPNl9qYl5kI+5UGpBC1pj/6y4tP8JBKeT77fdOXQ1ZPBRtD/SZcOs1HZvCX6TcGBdNsS2MWVN2GhNxieNTWho4B+29/iZqum/p3io6b8za9VQBoWaSTSTFqHUtAQVNavQsGB2dVMvxSFyHfM2AIQuR5B0eIFCl0c0k76hNOAXKrrCAQ3HUbNl03SU/JMKMhryOFvFpZzgxDVrf5wbhYJJMyovjuhJUEbJh8OBUDk2CxzUEjMMqxDRmmCiBMMz4DSgVGCpRBlyOlDUWg4Eg6TpTYGcYMhvkwIyNJCHZVVhJTkCR4LWmr/y+ShQYKIyVEdRnTMJKIZS51hYQGgAOqvgg4oe5RWDpSBC0wiMUAQGmwGDAEUJmGweVAZytIDihKA0IOg0I0MVge1V7AfyWRm2NoXTr1C5EKZhCoQAAAAA') format('woff2'),
  url('iconfont.woff?t=1562921785600') format('woff'),
  url('iconfont.ttf?t=1562921785600') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1562921785600#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: red;
}

.icon-sousuo:before {
  content: "\e629";
}

